body {
  margin:0;
  padding:0;
}

div#astar {
  background-image: url("Images/background.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 550px;
  height: 700px;
  margin: 0 auto;
  border-bottom: 1px black;
}

div#toolbar{
  width: 550px;	
  margin: 0 auto;
  margin-top: 10px;
}

span.right {
	float: right;
	text-align: center;
	margin-top: 10px;
	margin-right: 20px;
}

span.left {
	float: left;
	text-align: center;
	margin-top: 10px;
	margin-left: 20px;
}

