body {
  margin:0;
  padding:0;
}

div#Top-Panel {
  width: 550px;
  height: 40px;
  margin: 0 auto;
  margin-top:10px;
  margin-bottom:0px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

div#Text-Boxes {
  height: 40px;
  width: 350px;
  position: absolute;
}

#From,#To{
	float:left;
	position: relative;
	padding:0px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 5px;
}
#Swap{
	float:left;
	position: relative;
	padding:0px;
}

.TB{
	width:100px;
}

button{
	margin-right: 0px;
	margin-top: 0px;
	padding: 0;
	border: none;
	background: none;
}

#Dept,#Goal,#Toggle{
	float:right;
}

div#astar {
  background-repeat: no-repeat;
  background-size: contain;
  width: 550px;
  height: 700px;
  margin: 0 auto;
  border: solid black;
}

div#Bottom-Panel{
  width: 550px;	
  margin: 0 auto;
  margin-top: 10px;
}

#Floors,#boardType,#resetButton{
	display:none;
}

span.right {
  float: right;
  text-align: center;
  margin-top: 0px;
  margin-right: 0px;
}

span.left {
	 display:inline-block ;
  margin: auto;
  padding: 0;
  position: absolute;
}

